@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('fonts/SourceSansPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/SourceSansPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/SourceSansPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/SourceSansPro-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('fonts/SourceSansPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/SourceSansPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/SourceSansPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/SourceSansPro-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'SourceSansPro-Italic';
  src: url('fonts/SourceSansPro-Italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/SourceSansPro-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/SourceSansPro-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/SourceSansPro-Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
}



#banner{
	width: 100%;
	height: 496px;
	background: url('img/nosotros_banner.jpg') center center;
	background-size: cover;
}

.container{
	margin: 0 auto;
}
#banner .container{
	padding: 250px 0 0 0;
}

.banner_textbox{
	background-color: #333E48;
}
.banner_textbox h1{
	color: #FFFFFF;
	font-size: 45px;
	margin:137px 0 108px 80px;
	font-family: 'Oxygen', sans-serif;
}

.banner_textbox h1 span{
	border-bottom: 4px solid #FA8D29;
	display: inline-block;
	padding-bottom: 10px;
}

#since .container{
	padding-top: 203px;
}

#since h1 {
	color:#F3F3F4;
	font-size: 50px;
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	letter-spacing: 3px;
}

.orange{
	color: #FA8D29;
	font-size: 30px;
	font-family: 'Oxygen', sans-serif;
	margin: 70px 70px 0 50px;
}

.orange span{
	border-bottom: 4px solid #FA8D29;
	display: inline-block;
}

.description{
	color: #333E48;
	font-size:30px;
	font-family: 'SourceSansePro-Regular', Fallback, sans-serif;
	margin:70px 0 50px 0;
}

#since p{
	color: #333E48;
	font-size:18px;
	font-family: 'SourceSansePro-Bold', Fallback, sans-serif;
	margin:0 0 140px 0;
}

#different{
	background-color: #F3F3F4;
	margin-top: 60px;
}

#different .container .row{
	margin-top: -60px;
}

#banner_different{
	width: 100%;
	height: 388px;
	background: url('img/CSY_ourteam-01-slider.jpg') center center;
	background-size: cover;
}

#different .different_col_width{
	padding: 70px;
	margin-top: -70px;
	background-color: #FFFFFF;
}

#different h1{
	color: #FA8D29;
	font-size: 40px;
	font-family: 'Oxygen', sans-serif;
	margin: 0 0 50px 0;
}

#different hr{
	border:none;
	display: block;
	height: 4px;
	background: #FA8D29;
	width: 70px;
	margin:0 0 50px;
}

#different ul{
	color: #333D47;
	font-size:16px;
	font-family: 'SourceSansePro-Regular', Fallback, sans-serif;
	margin:0;
	list-style: url('img/bullet.jpg');
	padding-left:12px;
}

#different ul li{
	margin-bottom:25px; 
}

#different .represent_col_width{
	padding: 120px 70px;
	background-color: #333E48;
}

#different .home_icon_white{
	background: url('img/CSY_home-icon-white.png');
	display: block;
	margin: 0;
	width:72px;
	height:74px;
}	

#different h2{
	color: #FFFFFF;
	font-size:30px;
	font-family: 'Oxygen', Fallback, sans-serif;
	margin:50px 0;	
}

.orange_button{
	color: #FFFFFF;
	font-size:13px;
	font-family: 'SourceSansePro-Bold', Fallback, sans-serif;
	border:4px solid #FA8D29;
	padding: 6px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display:block;
}

#different a{
	min-width: 210px;
}

#different a .arrow-right{
	display: inline-block;
	width: 0; 
	height: 0; 
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;	
	border-left: 4px solid #FFFFFF;
	margin-left: 6px;
	margin-bottom: 1px;
}

#features{
	background-color: #333E48;
	margin-top: 25px;
	padding-bottom: 70px;
}

#features .margin_topped{
	margin-top: 50px;
}

#features .icon{
	display: block;
	width:100px;
	height:100px;
	margin:70px auto 20px;
}

#features .arrow-down{
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #F98C29;
	margin: 0 auto;
}

#features .quality_icon{
	background: url('img/CSY_quality-icon.png');
}

#features .commitment_icon{
	background: url('img/CSY_commitment-icon.png');
}

#features .team_icon{
	background: url('img/CSY_team-icon.png');
}

#features .open_icon{
	background: url('img/CSY_247-icon.png');
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

#features h2{
	color: #FFFFFF;
	font-size:26px;
	font-family: 'Oxygen', Fallback, sans-serif;
	margin: 35px auto;
	text-align: center;
	height: 50px;	
}

#features p{
	color: #FFFFFF;
	font-size:16px;
	font-family: 'SourceSansePro-Regular', Fallback, sans-serif;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
}

#features .arrow-right{
	display: inline-block;
	width: 0; 
	height: 0; 
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;	
	border-left: 4px solid #F98C29;
	margin-left: 5px;
	margin-bottom: 1px;
	vertical-align: middle;
}

#features .openp{
	color: #FFFFFF;
	font-size:18px;
	font-family: 'SourceSansePro-Bold', Fallback, sans-serif;
	margin: 37px 0;
	text-align: left;
}

#features a {
	min-width: 143px;
	margin-top: 35px;
}

#features a:hover{
	text-decoration: none;
}

#leading-section{
	background-color: #F3F3F4;
}

#leading-section .greatpeople .ourteam_img{
	background: url('img/CSY_ourteam-02.jpg');
	background-size: cover;
	height: 265px;
	display: block;
	margin: 0 -15px 0;
}

#leading-section .greatpeople{
	background-color: #5C6670;
	margin-top: 120px;
}

#leading-section .greatpeople h2{
	padding: 70px 50px;
	font-family: 'Oxygen', Fallback, sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	margin-top: 0;
}

#leading-section .greatpeople h2 span{
	border-bottom: 4px solid #FA8D29;
	display: inline-block;
	padding-bottom: 10px;
}

#leading-section .leading-brands{
	background-color: #FFFFFF;
	margin-top: -20px;
	margin-left: 0;
	padding:70px;
}

#leading-section .leading-brands h1{
	color: #FA8D29;
	font-size: 40px;
	font-family: 'Oxygen', sans-serif;
	margin:  0 0 50px 0;
}

#leading-section .leading-brands hr{
	border:none;
	display: block;
	height: 4px;
	background: #FA8D29;
	width: 70px;
	margin:0 0 50px;
}

#leading-section .leading-brands p{
	color: #333E48;
	font-size: 18px;
	font-family: 'SourceSansPro-Regular', Fallback, sans-serif;
}

#leading-section .leading-brands a{
	background: url('img/savant-button.jpg');
	display: block;
	width: 320px;
	height: 36px;
	margin:80px auto;
}

#leading-section .leading-brands .italics{
	color: #333E48;
	font-size: 18px;
	font-family: 'SourceSansPro-Italic', Fallback, sans-serif;
	line-height: 22.8px;
}
#leading-section .leading-brands .italics::before{
	content: "\201C";
	font-size: 35px;
	line-height: 22.8px;
}

#leading-section .leading-brands .italics::after{
	content: "\201D";
	font-size: 35px;
	line-height: 22.8px;
}
#leading-section .leading-brands .who{
	color: #333E48;
	font-size: 16px;
	font-family: 'SourceSansPro-Regular', Fallback, sans-serif;
	text-align: left;
	float: right;
}

#clients-say{
	background-color: #333E48;
	padding: 70px;
}

#clients-say .clients h1{
	color: #FA8D29;
	font-size: 40px;
	font-family: 'Oxygen', sans-serif;
	margin:  70px auto 50px auto;
}

#clients-say .clients hr{
	border:none;
	display: block;
	height: 4px;
	background: #FA8D29;
	width: 70px;
	margin:0 0 50px;
}

#clients-say .clientsicon span{
	background: url('img/CSY_user-icon.png');
	display: block;
	width:100px;
	height: 100px;
	margin:0 auto;
}

#clients-say .clientsdescription{
	color: #FFFFFF;
	font-size: 18px;
	font-family: 'SourceSansPro-Regular', Fallback, sans-serif;
	text-align: left;
	margin-bottom: 50px;
}
#clients-say .arrow{
	display: block;
	width: 15px;
	height:29px;
	margin:70px auto;
}

#clients-say .left-arrow{
	background: url('img/CSY_arrow-left.png');
}

#clients-say .right-arrow{
	background: url('img/CSY_arrow-right.png');
}

#clients-say .carousel-control.right{
	background: none;
}

#clients-say .carousel-control.left{
	background: none;
}

